doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    script(src='https://code.jquery.com/jquery-1.12.3.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    //cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js
    //cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css
  body
    div(class='container-fluid')
        nav(class='navbar navbar-default navbar-fixed-top')
            div(class='navbar-header')
                a(class='navbar-brand' href='#') Terminology
            ul(class='nav navbar-nav')
                li(class='active')
                    a(href='/') Home
                li
                    a(href='/addWord') Add
                li
                    a(href='/timetable') Timetable
        block content
                                                                                                                                                                              