extends layout

block content
    
    table(id ='timetable' class='table')
        thead(class='thead-inverse')
            tr
                th Aikaa/Päivää
                th Manantai
                th Tiistai
                th Keskivikko    
                th Torastai
                th Perjantai
                th Launantai
                th Sununtai
        tbody
            tr
                td 12:00 - 13:30
                td 
                td
                td
                td
                td
                td Matematiikka
                td Lue kirjaa
            tr
                td 14:00 - 15:30
                td
                td
                td
                td
                td
                td Psykologia
                td Lue kirjaa
            tr      
                td 16:00 - 17:30
                td 
                td
                td
                td
                td
                td Englantia
                td 
            tr
                td 17:00 - 18:00
                td
                td Psykologia
                td
                td
                td
                td
                td
            tr      
                td 17:00 - 18:30
                td
                td
                td Matematiikka
                td
                td Kemia
                td
                td
            tr
                td 17:30 - 18:00
                td Englantia
                td
                td
                td Matematiikka
                td
                td
                td
            tr
                td 18:00 - 18:30
                td Matematiikka
                td Englantia
                td
                td Englantia
                td
                td
                td
            tr
                td 19:30 - 20:30
                td
                td
                td
                td Psykologia
                td
                td
                td
            tr
                td 19:30 - 21:00
                td Psykologia
                td Kemia
                td Kemia 
                td
                td
                td
                td
            tr
                td 20:00 - 22:00
                td
                td
                td
                td
                td
                td
                td Psykologia, 
                    br
                    | Matematiikka, 
                    br
                    | Englantia
            tr
                td 20:30 - 22:00
                td
                td
                td
                td Psykologia
                td
                td
                td
            tr
                td 21:00 - 22:00
                td Historia
                td
                td Psykologia
                td
                td
                td
                td
            
                